body{
    margin: 0;
}
div{
    margin-top: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   background-color: #eee;
   float: left;
   width: 11.375%;
   margin-left: 1%;
}
/* 
    9 * 1 = 9%

100% - 9 = 91%

91/8 = 

*/